@font-face {
  font-family: Roberto;
  src: url(Roboto-Regular.ttf);
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roberto";
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

#navbar {
  display: flex;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  border-bottom: 2px solid rgba(39, 245, 238, 0.62);
}

#heading {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
  flex-wrap: wrap;
}

.name {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: 20px;
  text-decoration: none;
  color: white
}

.link {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 16px 20px;
  padding: 0px auto;
}

.activeLink{
  color: rgba(39, 245, 238, 0.62);
  border-bottom: 2px solid rgba(39, 245, 238, 0.62);
}

.projectLink {
  text-decoration: none;
  color: black
}

.projectSummary {
  font-size: 14px;
}

#title {
  text-align: center;
  margin: 25px 0;
  display: flex;
  flex: 1 1 0;
}

.pageTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px auto;
  font-size:48px;
  margin-top:0px;
}

.section {
  background-color: white;
  padding: 50px;
  border: 2px solid rgba(39, 245, 238, 0.62);
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pageBody{
  padding: 50px 150px 50px 150px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.videoElement{
  border-radius: 50px;
  margin-bottom: 50px;
  width: 700px;
  height: 393.547px;
}

.titleElement{
  font-size: 24px;
  text-decoration: underline solid black;
}

.textElement{
  margin-bottom: 50px;
}


#footer {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  background-color: #333;
  color: white;
  margin-top: auto;
  flex-direction: column;
  border-top: 2px solid rgba(39, 245, 238, 0.62);
}

#scrollToTopBtn {
  padding: 4px 10px;
  display: block;
  margin: 30px auto;
  background-color: rgba(39, 245, 238, 0.62);
  border-radius: 5px;
  border-color: black;
  color: black;
}

img{
 border-radius: 50px;
  display: flex;
  flex: 1 1 300;
  overflow: auto;
}

.textElement{
  font-size: 16px;
}

#contact{
  display:flex;
  align-items: center;
  justify-content: center;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 50%;
  border: 2px solid rgba(39, 245, 238, 0.62);
}
.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 30px;
}
.fa-github{
  color:black;
  background-color: white;
  font-size:30px;
}
.fa-linkedin{
  background-color: white;
  color: #3B5998;
}
