@font-face {
  font-family: Roberto;
  src: url(Roboto-Regular.ttf);
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Roberto";
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#navbar {
  display: flex;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
}

#heading {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}

.name {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: 20px;
}

.link {
  text-align: center;
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 0px auto;
}

.projectLink {
  text-decoration: none;
  color: black
}

.projectSummary {
  font-size: 14px;
}

#title {
  text-align: center;
  margin: 25px 0;
}



.section {
  padding: 50px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.project {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  transform: scale(1.05);
}


#footer {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  margin-top: auto;
  flex-direction: column;
}

#scrollToTopBtn {
  padding: 4px 10px;
  display: block;
  margin: 30px auto;
  background-color: rgba(39, 245, 238, 0.62);
  border-radius: 5px;
  border-color: black;
  color: black;
}

img{
 border-radius: 50px;
  display: flex;
  flex-shrink: 1;
}
.textElement{
  font-size: 16px;
}

.pageDivider{
  border-bottom: 2px solid rgba(39, 245, 238, 0.62);
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 50px;
}
#contact{
  display:flex;
  align-items: center;
  justify-content: center;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 30px;
}
.fa-github{
  color:black;
  background-color: white;
  font-size:30px;
}
.fa-linkedin{
  background-color: white;
  color: #3B5998;
}


/* Project Page CSS*/

.projectTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px auto;
  font-size:48px;
  margin-top:0px;
}

.projectBody{
  padding: 50px 150px 50px 150px;
  margin-top: 100px;
}


.projectBody .section{
  background-color: white;
  padding: 50px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projectBody .section .titleElement{
  font-size: 24px;
  text-decoration: underline solid black;
}
.projectBody .section .textElement{
  margin-bottom: 50px;
}

.projectBody .section .element{
  margin-bottom: 50px;
}
.projectBody .section .videoElement{
  border-radius: 50px;
  margin-bottom: 50px;
  width: 700px;
}

/*Coursework Page CSS*/

.courseworkBody{
  padding: 50px 150px 50px 150px;
  margin-top: 100px;
}

.courseworkTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px auto;
  font-size:48px;
  margin-top:0px;
}

.courseworkBody .section{
  background-color: white;
  padding: 50px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex:1;
}

.courseworkBody .section .titleElement{
  font-size: 28px;
  
}